.jobsPageDiv {
  display: grid;
  grid-template-columns: auto;

  padding-inline: 6%;
  justify-content: center;
}
.filters-closed {
  margin-top: 156px;
  width: 100%;
  height: 0px;
  overflow: hidden;
}
.filters-opened {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-top: 120px;
  height: auto;
  background-color: var(--cards);
  padding: 24px;
  border-radius: 0.2em;
  box-shadow: 0 8px 16px hsl(180, 29%, 50%, 20%);
}
.filters-only-part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
.myFilter-button-div {
  display: block;
  padding: 0px 0 0px 8px;
  background-color: var(--light-button);
  color: var(--main-top-background-and-text);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.8px;
  border: 0;
  border-radius: 0.2em;
}
.myFilter-button {
  border: 0;
  background-color: var(--main-top-background-and-text);
  color: var(--cards);
  padding: 8px;
  font-weight: 700;
  font-size: 18px;
  margin-left: 4px;
  border-radius: 0 0.2em 0.2em 0;
}
.myFilter-button:hover {
  background-color: var(--body-background);
}
.myFilter-button > img {
  width: 16px;
  height: 16px;
  margin-bottom: -4px;
}
.clear-button {
  color: var(--main-top-background-and-text);
  padding: 8px;
  font-size: 18px;
  margin-left: 8px;
  font-weight: 700;
  background-color: transparent;
  border: 0;
  justify-self: right;
}
.clear-button:hover {
  text-decoration: underline;
}
.cardsDiv {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  row-gap: 56px;
  margin-top: 56px;
}

.card {
  background-color: var(--cards);
  max-width: 100%;
  border-radius: 0.2em;
  padding: 0 24px 24px 24px;
  box-shadow: 0 8px 16px hsl(180, 29%, 50%, 20%);
}
.card-featured {
  background-image: linear-gradient(
    to right,
    var(--main-top-background-and-text) 0%,
    var(--main-top-background-and-text) 5px,
    var(--cards) 5px,
    var(--cards) 100%
  );
}
.logoDiv {
  position: relative;
  top: calc(-16px - 3vw);
  width: clamp(48px, 12.8vw, 88px);
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  margin-bottom: -8px;
}
.company {
  color: var(--main-top-background-and-text);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 16px;
}
.new {
  display: inline-block;
  background-color: var(--main-top-background-and-text);
  color: var(--cards);
  font-weight: 500;
  padding: 5px 4px 3px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 16px;
}
.featured {
  display: inline-block;
  background-color: var(--body-background);
  color: var(--cards);
  font-weight: 500;
  padding: 5px 4px 3px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 8px;
}
.position {
  color: var(--body-background);
  font-weight: 700;
}
.position:hover {
  color: var(--main-top-background-and-text);
  cursor: pointer;
}
.when-and-where-div {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: left;
  column-gap: 8px;
  color: var(--light-text);
  margin-top: 16px;
}
.dot {
  margin-top: -8px;
}
.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--light-text);
  margin: 16px 0;
}
.details-of-job {
  display: flex;
  flex-direction: row;
  gap: 14px;
  flex-wrap: wrap;
}
.job-details-button {
  display: block;
  padding: 8px;
  background-color: var(--light-button);
  color: var(--main-top-background-and-text);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.8px;
  border: 0;
  border-radius: 0.2em;
}

.job-details-button:hover {
  background-color: var(--main-top-background-and-text);
  color: var(--light-button);
}
.spinner {
  font-size: clamp(48px, 12.8vw, 88px);
  color: var(--main-top-background-and-text);
  margin-top: 15vh;
  margin-bottom: 25vh;

  -webkit-animation-name: spin; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Safari 4.0 - 8.0 */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Safari 4.0 - 8.0 */
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 700px) {
  .cardsDiv {
    row-gap: 24px;
  }
  .card {
    display: grid;
    grid-template-columns: 88px auto auto;
    column-gap: 24px;
    padding: 24px;
    max-width: 1200px;
  }
  .divider {
    display: none;
  }
  .logoDiv {
    position: initial;
    grid-column: 1;
    grid-row: 1 / span 3;
    align-self: center;
  }
  .details-of-job {
    grid-column: 3;
    grid-row: 1 / span 3;
    justify-content: end;
    align-items: center;
  }
}
